.container {
	margin-top: 5px;
}
.panel-body {
    height: 400px;
    overflow: scroll;
}
.jumbotron {
	background-color: coral;
	background-image: url("../images/bg.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
}
input[type="button"] {
	white-space: normal;
}
#order_body {
    width: 100%;
}
#search-frm {
	display: table;
}
.fa-info-circle, .glyphicon-shopping-cart {
	padding: 0px 10px;
}
.product-name {
    font-size: 18px;
    font-weight: bold;
}
.h {
    margin-top: 10px;
    margin-bottom: 10px;
}
.order_body td {
	padding: 5px;
}
.img-div {
	text-align: center;
}
.small-img {
	width: 100px;
}
small {
	font-weight: normal;
}
ul {
	display: inline-block;
}
.li_item {
	float: left;
	width: 20%;
	padding: 5px;
}
